/* contacto */

.contacto h1 {
    color: #C07F00;
    font-size: 40px;
    padding: 20px 0px 
}

.row {
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
}


.mapa {

    height: 500px;
    padding: 30px;
}

.mapa iframe {
    width: 650px;
    height: 400px;
    border: 1px;

}