/*mediaqueries*/
@media only screen and (max-width:1024px) {

    .cajas {
        @extend .d-flex;
        gap: 15px;
}


        .caja {
            width: 600px;
            height: 890px;     
        }
        
        .caja p {
            font-size: 20px;
        }
        

    .grilla {
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: repeat(1, 300px) ;
        grid-template-areas: 
        'area4 area4 area4'
        'area2 area2 area2'
        'area3 area3 area3'
        'area1 area1 area1'
        ;
}

.cajas-dueños {
    gap: 30px;

    }
    .dueños {
        width: 600px;
        height: 950px;

    p {
        padding: 5px 50px;    
        font-size: 22px;
    
    }

    h2 {

        font-size: 55px;
        padding: 20px;
        
    }

    }


    /* nuevo */



.pseudos {

    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 100%;
    gap: 35px;
    padding: 20px;

    .pseudo {
        width: 90%;
        height: 800px;
        background-color: #4C3D3D;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #eee;
        transition: none;    overflow: none;
    }
    

}

.pseudo:first-child , .pseudo:last-child {
    background-color:$second-color;
    flex-wrap: wrap;
}

.pseudo img {
    @include imagenes (100%,550px,cover);
}

.pseudo:hover img {
    height:1300px;
    transition: none;
}

.pseudo_container {
    padding: 50px;
}

.pseudo:hover {
    background-color: #f18825;
    box-shadow: 5px 5px 20px 0px #303030;

}

    footer {
        background-color: #4C3D3D;
        height: 600px;
    }
    
    .footer-line p {
        color: $light-color;
        padding: 0 60px;
        text-align: center;
    }

}


.mapa iframe {
    width: 100%;
    height: 400px;
    border: 1px;

}





@media only screen and (max-width: 768px) {

    h1 {
        font-size: 38px;
        text-align: center;
        margin: 79px;
    } 

    .cajas {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        
        }
        .caja {
            width: 600px;
            height: 930px;     
        }
        
        .caja p {
            font-size: 15px;

        }
        

    .hero { 

        @extend .d-flex;
        padding: 30px;
        text-align: center;
        }
        
        .hero img { 
            @include imagenes (100%,600px,cover);
            flex-wrap: wrap;
            display: flex;
            padding: 10px;
        }
        
        .hero-content {
        align-items: center;
        width: 100%;
        bottom: 10px;
    
        }
        
        .hero h2 , .hero h4 {
        align-items: center;
            font-size: 35px;
        }
    
    
        
        .hero p {
            text-align: left;
            font-size: 20px;
            padding: 0px 0px 50px 50px ;

        }


        .iconos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
                
                .iconos img {
                    width: 100%;
                    text-align: center;
                    object-fit: cover;
                }

                .iconos p {
                    font-size: 20px;
                    padding: 10px; 
                    margin: 10px;
                }
        



    .grilla {
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: auto;
        padding: 0px;
        grid-template-areas: 
        'area4 area4'
        'area2 area2'
        'area3 area3'
        'area1 area1'
        ;


        .grilla_hijo {
            width: 370px;
            justify-content: center;
}

        .g1 img {
            grid-area: area1;
            width: 96%;
            height: 600px;

        }
    
        .g2 img {
            grid-area: area2;
            width: 96%;
            height: 600px;
        }
    
        .g3 img {
            grid-area: area3;
            width: 96%;
            height: 600px;
        }
    
        .g4 img {
            grid-area: area4;
            width: 96%;
            height: 600px;
        }

        img {
            @include imagenes (855px,100%,cover);
            transition: 0.4s;
            align-items: center;
        
            &:hover {
                transform: none;
            }
        }
    
    
}


.imagenes-tienda {
    padding: 50px 23px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 20px;

    .imagenes {
        width: 96%;     
    }
}

.cajas-dueños {
    gap: 30px;

    }
    .dueños {
        width: 600px;
        height: 1130px;

    p {
        padding: 5px 50px;    
        font-size: 16px;
    
    }

    h2 {

        font-size: 55px;
        padding: 20px;
        
    }

    }



/* nuevo */



.pseudos {
    @extend .d-flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 100%;
    gap: 35px;
    padding: 20px;

    .pseudo {
        width: 90%;
        height: 800px;
        background-color: #4C3D3D;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #eee;
        transition: none;    overflow: none;
    }
    

}

.pseudo:first-child , .pseudo:last-child {
    background-color:$second-color;
    flex-wrap: wrap;
}

.pseudo img {
    @include imagenes (100%,499px,cover);
}

.pseudo:hover img {
    height:1300px;
    transition: none;
}

.pseudo_container {
    padding: 50px;
}

.pseudo:hover {
    background-color: #f18825;
    box-shadow: 5px 5px 20px 0px #303030;

}








footer {
    background-color: #4C3D3D;
    height: 850px;
}

.footer-line p {
    color: $light-color;
    padding: 0 60px;
    text-align: center;
    font-size: 14px;
}


}

.mapa iframe {
    width: 100%;
    height: 400px;
    border: 1px;

}