/* nosotros */


.cajas-dueños {
    gap: 30px;
    padding: 50px;
    @extend .d-flex;
    justify-content: space-evenly;



    }
    .dueños {
        width: 600px;
        height: 800px;
    background-color: $second-color;
    border-radius: 55px;
    background-color: antiquewhite;

    p {
        color: $main-color;
        padding: 5px 50px;    
        text-align: center;
    
    }

    h2 {
        text-align: center;
        color: #4C3D3D;
        font-size: 60px;
        padding: 20px;
        
    }

    img {  
        @include imagenes (100%,500px,cover);
        border-radius: 55px;
        padding: 20px;
    }
    }





.imagen-sol {
    text-align: center;
    padding-bottom: 100px;
}