/* productos */

.imagenes-tienda h1 {
    color:$second-color;
    font-size: 40px;
    padding: 40px 40px;
}

.imagenes-tienda h2 {
    color: $second-color;
    font-size: 40px;
    padding: 10px 0px 
}

.imagenes-tienda {
    padding: 50px 23px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 20px;

    .img {
        @include imagenes (100%,700px,cover);
        align-items: center;
    }
}


.imagenes {
    display: flex;
    flex-direction: column;
    width: 530px;
    text-align: left;
    background-color: #e4e1dd;
    padding: 30px;


}

.imagenes h1 {
    color: $main-color;

    .p {
        color: $main-color;
    }

}


.imagenes a {
    text-decoration: none;
    border: 2px solid $main-color;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    align-self: flex-end;
}
